body {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;


}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}


.main-header a {
    text-align: center;
    color: black;
    padding: 10px
}

h1 {
    color: rgb(14, 48, 44);
}

.main-header {





    text-decoration: none;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0px;
}

.background {
    background-color: #edf7ff;
}

.banner {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;

}

.banner2 {
    width: 50%;
}
.banner2 h1{
    color: #063256;
}

.banner3 {
    width: 100%;
    right: 0px;
    bottom: 0px;
}

.section2 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;

}


.main-nav a {
    text-decoration: none;
    text-align: center;

    padding: 10px 15px;
}
.main-nav a:first-child{
    padding-left: 0px;
    
}

.main-nav .header1 {
    margin-right: auto;
    padding-left: 0px !important;
    color: #063256;
}

.header1 {
margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    
}
.header1 a{
    margin-left: 0;
    padding-left: 0;
    color: #063256;
}

#header2 a {
    border-radius: 30px;
    background-color: #f58a0731 ;

    color: #f58a07;
}

.banner4 {
    display: flex;
    flex-direction: row;
}

.para {
    padding-left: 40px;
    margin-left: 40px;
}

.banner4 .banner5 {
    color: #f58a07(23, 170, 170);
    background-color: #ecb776;
    border-radius: 30px;
}

.banner4 a {

    color: rgb(12, 11, 11);
    text-decoration: none;
}

.budger {
    color: rgb(133, 122, 122);
}

#banner5 a {
    list-style: none;
    margin: 30px;
    border-radius: 30px;
    background-color: #f58a07;
    color: white;
    text-decoration: none;
}

ul li {
    list-style: none;
}

.section .section2 .col {

    width: calc((100% - 60px) / 3);
    flex-direction: column;
    display: flex;
}

.img1 {
    border-radius: 10px;

}

.section a {
    text-decoration: none;

    color: #f58a07;

}

.software {
    margin: 10px 0px;
    background-color: #edf7ff;
    margin-bottom: 50px;
    height: 100%;
    padding-bottom: 40px;
}

.software1 {
    display: flex;
    flex-direction: ROW;
    
    
    
    
    align-items: center;
}

.logos {
    display: flex;
    flex-direction: row;
    

    
    
    margin-bottom: 50px;
    
    


}

.invoicing{
    width: calc((100% - 60px) / 3);
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    
    background-color: white;
}
.invoicing:first-child{
    margin-left: 0px;
}
.invoicing:last-child{margin-right: 0px;}

.energy {
    margin: 40px 0px;
    display: flex;
    flex-direction: row;


}

.number {
    display: flex;
}

.number h2 {
    color: #f58a07;
}

.service {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    background-color: #edf7ff;
}

.two {
    align-items: center;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 20px;
    text-decoration: none;
    color: #97bedf;
    padding-left: 10px;
    padding-right: 10px;

}

.shargal {
    color: #f58a07;
    background-color: white;
    text-decoration: none;
    border-radius: 20px;
    padding-right: 0 20px;
}

.three {
    margin: 20px;
    padding: 20px;
}

#experience {
    width: 100%;
    background-color: #f58a07;
    padding: 100px 0;
    position: relative;
}

.experience-content2 a {
   

    border: 1px solid;
    border-radius: 30px;
    padding: 15px;
    color: #ecb776;
    text-decoration: none;
    background-color: white;
}

.experience-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.experience-content2 h2 {
    color: white;


}
.bigimage{
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url(/images/experience-image.png);
    top: 0;
    left: 0;
    background-repeat: no-repeat;
}

.experience-content2 {
    width: 35%;
   }

.zurag-datsan {

    display: flex;

}

.video {
    position: relative;


    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    background-size: auto;
    justify-content: flex-end;
    z-index: 1;

}

.video::after {

    content: url(./images/play-icon.svg);
    position: absolute;
    top: 410px;
    right: 530px;
    z-index: 2;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    padding: 9px 14px;



}

.video12 {
    position: relative;
    z-index: 1;

}

.video12::after {
    content: "Play video";
    position: absolute;

    bottom: 0px;
    left: 0px;
    z-index: 2;
    color: white;
    bottom: 55px;
    left: 110px;

}







.download {
    margin: 30px;
    border: 1px solid;
    border-radius: 100px;
}

.video h4 {
    color: #f58a07;
}

.video h3 {
    color: rgb(29, 36, 75);
}

.latest-blog {


    background-color: #edf7ff;
    padding: 40px 40px;
    position: relative;

}

.flex-last {

    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.latest-blog1 {
    width: calc((100% - 60px) / 3);
    margin: 15px;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}
.latest-blog1:first-child{
    margin-left: 0px;
}
.latest-blog1:last-child{
    margin-right: 0px;
}
.dorov{
    width: 100%;
    

}

.service .shargal-1 {
    color: orange;
    text-decoration: none;
}

.latest-blog img {
    width: 100%;
    margin: 0%;
    background-color: white;
    padding: 0px;

}
.dorov .gurav{
    padding: 0 15px;

    
}

.latest-blog12 {
    
    padding: 20px 20px;
    text-align: start;
}

.latest-blog a {
    color: #f58a07;
    text-decoration: none;
}

#typeemailhere {
    border: 1px solid;
    border-radius: 20px;
}

.footer {
    color: white;
    background-color: #063256;
    padding: 30px;
    position: relative;
    z-index: 1;

}

.footer::after {
    content: "";

    position: absolute;
    z-index: 2;
    background-color: #f58a07a2;
    width: 40px;
    height: 240px;
    right: 0px;
    top: 70px;
    border-radius: 15px 0px 0px 15px;
}

.footer::before {
    content: "";
    position: absolute;
    z-index: 2;
    background-color: #f58a07a1;
    width: 50px;
    height: 100px;
    left: 0px;
    bottom: 0px;
    border-radius: 0px 15px 0px 0px;
}

.footer5 {
    display: flex;
    flex-direction: row;
    text-decoration: none;

}

.footer5 a {
    color: white;
    text-decoration: none;
}

.footer-1 {
    padding: 60px;
}

.footer-2 {
    padding: 60px;
}

.footer-3 {
    padding: 60px;
    
}

.footer-4 {
    padding: 60px;
}

#Typeemailhere {
    border: 1px white;
    border-radius: 15px;
    padding: 10px;
}

.privacy {
    padding-right: 30px;
}

.subscribed {
    background-color: #f58a07;
    border-radius: 30px;
    padding: 15px 20px;
}

.about {
    position: relative;
    z-index: 1;

    border-radius: 30px;

}

.about::after {
    content: "";
    background-color: #f58a07ab;
    background-repeat: no-repeat;
    position: absolute;
    width: 140px;
    height: 667PX;
    z-index: 2;
    top: 0;
    left: 0;
    border-radius: 15px 0 0 15PX;

}

.about img {
    border-radius: 15px;
}

.team {
    position: relative;
    border-radius: 10px;
    z-index: 1;



}

.team::after {
    content: "";
    position: absolute;
    background-color: #f58a07ab;
    background-repeat: no-repeat;
    z-index: 2;
    width: 140px;
    height: 466px;
    top: 0;
    left: 0;
    border-radius: 20px 0 0 20px;
}

.service {
    position: relative;
    z-index: 1;
    padding: 20px;
    margin: 50px;

}

.service::after {
    content: url(./images/Ribbon.png);
    position: absolute;
    z-index: 2;
    right: -70px;
    top: -130px;
}

.shargal {}